body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}
.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}
.about-user{
    height: 230px;
    width: 400px;
    margin: 106px 329px 36px 84px;
    margin-bottom: 40px;
}
.a-position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}
.a-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}
.a-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}
.projects{
    height: 107px;
    width: 485px;
    margin: 33px 257px 54px 80px;
    margin-bottom: 50px;
}
.project {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.p-bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}
.p-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 10px;
}
.p-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.p-list {
    padding: 0;
    margin-left: 15px;
    width: 550;
    
}
.work1{
    padding: 0;
    margin-bottom: 455px;
    margin: 50px 329px 36px 80px;
}
.work2{
    padding: 0;
    margin-bottom: 15px;
}
.work3{
    padding: 0;
    margin-bottom: 5px;
}
.w-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}
.organization {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
}
.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}
.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.w-list {
    padding: 0;
    margin-left: 15px;
}
.wl-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.main-content {
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px, 90px;
}
.education {
    padding: 0;
    margin-left: 80px;
    margin-bottom: 10px;
}
.sidebar {
    background-color: #1E2939;
    height: 1400px;
    width: 370px;
    padding-top: 0px;
}
.photo {
    width: 370px;
    margin-bottom: 50px;
}
.sidebar-title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}
.contacts {
    margin-left: 40px;
    margin-bottom: 50px;
}
.tech-skills {
    margin-bottom: 40px;
    margin-left: 40px;
}
.contact-type {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 10px;
}
.contact-link {
    color: #8E949C;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.ts-list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 19px;
}
.ts-item {
    color: #FB6D3A;
}
.ts-text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.soft-skills {
    color: #FFFFFF;
    margin-left: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.ss-list {
    color: #FB6D3A;
    padding: 0;
    margin-left: 19px;
}
.ss-text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}